<% include partials/header %>

<p><%=campground.name%></p>
<p><%=campground.description%></p>
<img src="<%= campground.image %>">

<% campground.comments.forEach(function(comment){ %> 
    <p>
        <strong> <%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>


<% include partials/footer %>